<div>
  <h2 id="page-heading" data-cy="CentroMedicoHeading">
    <span jhiTranslate="reporteMercadeoApp.centroMedico.home.title">Centro Medicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reporteMercadeoApp.centroMedico.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-centro-medico"
        [routerLink]="['/centro-medico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reporteMercadeoApp.centroMedico.home.createLabel"> Crear nuevo Centro Medico </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="centroMedicos?.length === 0">
    <span jhiTranslate="reporteMercadeoApp.centroMedico.home.notFound">Ningún Centro Medicos encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="centroMedicos && centroMedicos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombreCentroMedico">
            <span jhiTranslate="reporteMercadeoApp.centroMedico.nombreCentroMedico">Nombre Centro Medico</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ciudad.nombreCiudad">
            <span jhiTranslate="reporteMercadeoApp.centroMedico.ciudad">Ciudad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let centroMedico of centroMedicos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/centro-medico', centroMedico.id, 'view']">{{ centroMedico.id }}</a>
          </td>
          <td>{{ centroMedico.nombreCentroMedico }}</td>
          <td>
            <div *ngIf="centroMedico.ciudad">
              <a [routerLink]="['/ciudad', centroMedico.ciudad.id, 'view']">{{ centroMedico.ciudad?.nombreCiudad }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/centro-medico', centroMedico.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/centro-medico', centroMedico.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(centroMedico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="centroMedicos && centroMedicos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
