<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-centro-heading" data-cy="CentroCreateUpdateHeading" jhiTranslate="reportemercadeoApp.centro.home.createOrEditLabel">
        Crear o editar Centro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.centro.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.centro.ciudad" for="field_ciudad">Ciudad</label>
          <p-autoComplete
            id="field_ciudad"
            data-cy="ciudad"
            name="ciudad"
            field="nombre"
            formControlName="ciudad"
            [suggestions]="ciudadsSharedCollection"
            (completeMethod)="buscarCiudad($event)"
            (onDropdownClick)="buscarCiudad($event)"
            [dropdown]="true"
          >
            <ng-template let-ciudad pTemplate="item">
              <div>
                <div>{{ ciudad.nombre }}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="reportemercadeoApp.centro.user" for="field_user">User</label>
            <p-autoComplete
              id="field_user"
              data-cy="user"
              name="user"
              field="login"
              formControlName="user"
              [suggestions]="usersSharedCollection"
              (completeMethod)="buscarUsuario($event)"
              (onDropdownClick)="buscarUsuario($event)"
              [dropdown]="true"
            >
              <ng-template let-user pTemplate="item">
                <div>
                  <div>{{ user.login }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.createdBy.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.centro.createdBy" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.createdDate.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.centro.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.lastModifiedBy.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.centro.lastModifiedBy" for="field_lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.lastModifiedDate.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.centro.lastModifiedDate" for="field_lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        </ng-container>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
