<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ciudad">
      <h2 data-cy="ciudadDetailsHeading"><span jhiTranslate="reportemercadeoApp.ciudad.detail.title">Ciudad</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ciudad.id }}</span>
        </dd>
        <dt><span jhiTranslate="reportemercadeoApp.ciudad.nombre">Nombre</span></dt>
        <dd>
          <span>{{ ciudad.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="reportemercadeoApp.ciudad.createdBy">Created By</span></dt>
        <dd>
          <span>{{ ciudad.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="reportemercadeoApp.ciudad.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ ciudad.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="reportemercadeoApp.ciudad.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ ciudad.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="reportemercadeoApp.ciudad.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ ciudad.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/ciudad', ciudad.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
