<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-especialidad-heading" data-cy="EspecialidadCreateUpdateHeading">Crear o editar Especialidad</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nombreEspecialidad">Nombre Especialidad</label>
          <input
            type="text"
            class="form-control"
            name="nombreEspecialidad"
            id="field_nombreEspecialidad"
            data-cy="nombreEspecialidad"
            formControlName="nombreEspecialidad"
          />
          <div
            *ngIf="
              editForm.get('nombreEspecialidad')!.invalid &&
              (editForm.get('nombreEspecialidad')!.dirty || editForm.get('nombreEspecialidad')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('nombreEspecialidad')?.errors?.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
