<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-doctor-heading" data-cy="DoctorCreateUpdateHeading" jhiTranslate="reportemercadeoApp.doctor.home.createOrEditLabel">
        Crear o editar Doctor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.correoPersonal" for="field_correoPersonal"
            >Correo Personal</label
          >
          <input
            type="text"
            class="form-control"
            name="correoPersonal"
            id="field_correoPersonal"
            data-cy="correoPersonal"
            formControlName="correoPersonal"
          />
          <div
            *ngIf="
              editForm.get('correoPersonal')!.invalid && (editForm.get('correoPersonal')!.dirty || editForm.get('correoPersonal')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correoPersonal')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Correo Personal' }"
            >
              Este campo debe seguir el patrón Correo Personal.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.correoCorporativo" for="field_correoCorporativo"
            >Correo Corporativo</label
          >
          <input
            type="text"
            class="form-control"
            name="correoCorporativo"
            id="field_correoCorporativo"
            data-cy="correoCorporativo"
            formControlName="correoCorporativo"
          />
          <div
            *ngIf="
              editForm.get('correoCorporativo')!.invalid &&
              (editForm.get('correoCorporativo')!.dirty || editForm.get('correoCorporativo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correoCorporativo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correoCorporativo')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Correo Corporativo' }"
            >
              Este campo debe seguir el patrón Correo Corporativo.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.telefonoPersonal" for="field_telefonoPersonal"
            >Telefono Personal</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoPersonal"
            id="field_telefonoPersonal"
            data-cy="telefonoPersonal"
            formControlName="telefonoPersonal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.telefonoCorporativo" for="field_telefonoCorporativo"
            >Telefono Corporativo</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoCorporativo"
            id="field_telefonoCorporativo"
            data-cy="telefonoCorporativo"
            formControlName="telefonoCorporativo"
          />
          <div
            *ngIf="
              editForm.get('telefonoCorporativo')!.invalid &&
              (editForm.get('telefonoCorporativo')!.dirty || editForm.get('telefonoCorporativo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefonoCorporativo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.createdBy.value !== null">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.createdBy" for="field_createdBy">Created By</label>
          <input
            type="text"
            class="form-control"
            name="createdBy"
            id="field_createdBy"
            data-cy="createdBy"
            formControlName="createdBy"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.createdDate.value !== null">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
              [readonly]="true"
            />
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.lastModifiedBy.value !== null">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.lastModifiedDate.value !== null">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
              [readonly]="true"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.especialidad" for="field_especialidad">Especialidad</label>
          <select
            class="form-control"
            id="field_especialidad"
            data-cy="especialidad"
            name="especialidad"
            formControlName="especialidad"
            [compareWith]="compareEspecialidad"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="especialidadOption" *ngFor="let especialidadOption of especialidadsSharedCollection">
              {{ especialidadOption.descripcion }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.doctor.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
