<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-doctor-heading" data-cy="DoctorCreateUpdateHeading" jhiTranslate="reporteMercadeoApp.doctor.home.createOrEditLabel">
        Crear o editar Doctor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.nombreDoctor" for="field_nombreDoctor">Nombre Doctor</label>
          <input
            type="text"
            class="form-control"
            name="nombreDoctor"
            id="field_nombreDoctor"
            data-cy="nombreDoctor"
            formControlName="nombreDoctor"
          />
          <div
            *ngIf="editForm.get('nombreDoctor')!.invalid && (editForm.get('nombreDoctor')!.dirty || editForm.get('nombreDoctor')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreDoctor')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.correoPersonal" for="field_correoPersonal"
            >Correo Personal</label
          >
          <input
            type="text"
            class="form-control"
            name="correoPersonal"
            id="field_correoPersonal"
            data-cy="correoPersonal"
            formControlName="correoPersonal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.correoCorporativo" for="field_correoCorporativo"
            >Correo Corporativo</label
          >
          <input
            type="text"
            class="form-control"
            name="correoCorporativo"
            id="field_correoCorporativo"
            data-cy="correoCorporativo"
            formControlName="correoCorporativo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.telefonoPersonal" for="field_telefonoPersonal"
            >Telefono Personal</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoPersonal"
            id="field_telefonoPersonal"
            data-cy="telefonoPersonal"
            formControlName="telefonoPersonal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.telefonoCorporativo" for="field_telefonoCorporativo"
            >Telefono Corporativo</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoCorporativo"
            id="field_telefonoCorporativo"
            data-cy="telefonoCorporativo"
            formControlName="telefonoCorporativo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reporteMercadeoApp.doctor.especialidad" for="field_especialidad">Especialidad</label>
          <!--select
            class="form-control"
            id="field_especialidad"
            data-cy="especialidad"
            name="especialidad"
            formControlName="especialidad"
            [compareWith]="compareEspecialidad"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="especialidadOption" *ngFor="let especialidadOption of especialidadsSharedCollection">
              {{ especialidadOption.nombreEspecialidad }}
            </option>
          </select-->
          <p-autoComplete
            class="p-fluid"
            [(ngModel)]="especialidadSeleccionada"
            [ngModelOptions]="{standalone: true}"
            id="field_especialidad"
            name="especialidad"
            [suggestions]="especialidadesCollection"
            (completeMethod)="buscarEspecialidad($event)"
            [dropdown]="true"
            field="nombreEspecialidad"
            (onSelect)="capturarEspecialidadSeleccionada($event)"
          ></p-autoComplete>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
