<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reporte-heading" data-cy="ReporteCreateUpdateHeading" jhiTranslate="reportemercadeoApp.reporte.home.createOrEditLabel">
        Crear o editar Reporte
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.descripcion" for="field_descripcion">Descripcion</label>
          <textarea
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          ></textarea>
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.fecha" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fecha')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.centro" for="field_centro">Centro</label>
          <p-autoComplete
            id="field_centro"
            data-cy="centro"
            name="centro"
            field="nombre"
            formControlName="centro"
            [suggestions]="centrosSharedCollection"
            (completeMethod)="buscarCentro($event)"
            (onDropdownClick)="buscarCentro($event)"
            [dropdown]="true"
          >
            <ng-template let-centro pTemplate="item">
              <div>
                <div>{{ centro.nombre }}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.doctor" for="field_doctor">Doctor</label>
          <p-autoComplete
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            field="nombre"
            formControlName="doctor"
            [suggestions]="doctorsSharedCollection"
            (completeMethod)="buscarDoctor($event)"
            (onDropdownClick)="buscarDoctor($event)"
            [dropdown]="true"
          >
            <ng-template let-doctor pTemplate="item">
              <div>
                <div>{{ doctor.nombre }}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>

        <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div class="row mb-3">
            <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.user" for="field_user">User</label>
            <p-autoComplete
              id="field_user"
              data-cy="user"
              name="user"
              field="login"
              formControlName="user"
              [suggestions]="usersSharedCollection"
              (completeMethod)="buscarUsuario($event)"
              (onDropdownClick)="buscarUsuario($event)"
              [dropdown]="true"
            >
              <ng-template let-user pTemplate="item">
                <div>
                  <div>{{ user.login }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="row mb-3" *ngIf="editForm.controls.createdBy.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.createdBy" for="field_createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.createdDate.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.lastModifiedBy.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.lastModifiedBy" for="field_lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>

          <div class="row mb-3" *ngIf="editForm.controls.lastModifiedDate.value !== null">
            <label class="form-label" jhiTranslate="reportemercadeoApp.reporte.lastModifiedDate" for="field_lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        </ng-container>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
